In [1]:
import pandas as pd 
import numpy as np

In [42]:
df = pd.read_csv("Data\datalog.csv", parse_dates=True, header=None) #, index_col="Datetime"
df.columns = ["Datetime","Temperature", "Humidity" , "Pressure", "Altitude" ,"CO" ,"CO2" ,"NH4", "PM1.0" ,"PM2.5", "PM10.0"]
df['Datetime'] = pd.to_datetime(df["Datetime"], format='%Y-%m-%d %H:%M:%S')

quantities = ['Temperature', 'Rel. Humidity', 'Pressure', 'CO', r'CO$_2$', r'NH$_3$', r'PM$_{1}$', 
                  'PM$_{2.5}$', 'PM$_{10}$']
units = [r'$^o$C','%', 'hPa','ppm','ppm','ppm',r'$\mu g/m^3$ ',r'$\mu g/m^3$ ',r'$\mu g/m^3$ ']
df = df.set_index("Datetime")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52956 entries, 2023-06-05 10:12:43 to 2023-06-14 12:17:43
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  52956 non-null  float64
 1   Humidity     52956 non-null  float64
 2   Pressure     52956 non-null  float64
 3   Altitude     52956 non-null  float64
 4   CO           52956 non-null  float64
 5   CO2          52956 non-null  float64
 6   NH4          52956 non-null  float64
 7   PM1.0        52956 non-null  float64
 8   PM2.5        52956 non-null  float64
 9   PM10.0       52956 non-null  float64
dtypes: float64(10)
memory usage: 4.4 MB

In [44]:
df.describe()

,Temperature,Humidity,Pressure,Altitude,CO,CO2,NH4,PM1.0,PM2.5,PM10.0
count,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000,52956.000000
mean,27.373476,46.563485,98463.910962,240.981164,1.161978,401.157932,1.984733,11.687136,16.917649,17.522415
std,1.001585,5.734126,125.441891,10.690623,0.607613,0.314676,0.430690,7.499478,11.229481,11.682196
min,23.810000,27.320000,98065.860000,217.600000,0.190000,400.320000,0.650000,0.000000,0.000000,0.000000
25%,26.830000,44.730000,98376.492500,232.890000,0.910000,400.980000,1.730000,8.000000,11.000000,11.000000
50%,27.180000,47.770000,98469.145000,240.530000,1.080000,401.110000,1.920000,10.000000,15.000000,15.000000
75%,27.560000,49.962500,98558.845000,248.430000,1.310000,401.280000,2.170000,14.000000,20.000000,21.000000
max,31.520000,73.240000,98738.550000,274.950000,54.460000,419.190000,22.520000,59.000000,87.000000,92.000000

In [45]:
print(df.shape)

(52956, 10)

In [46]:
new_dat = df.loc[(df['PM10.0'] < 108) & (df['PM10.0'] > 6) & (df['CO'] < 36)]
new_dat

,Temperature,Humidity,Pressure,Altitude,CO,CO2,NH4,PM1.0,PM2.5,PM10.0
Datetime,,,,,,,,,,
2023-06-05 10:12:43,23.81,48.32,98509.52,237.09,8.01,404.76,6.75,9.0,14.0,16.0
2023-06-05 10:12:53,23.83,45.03,98509.02,237.13,5.72,403.73,5.46,9.0,13.0,13.0
2023-06-08 12:34:49,24.78,58.42,98555.49,233.17,1.92,401.68,2.75,6.0,6.0,8.0
2023-06-08 12:34:49,24.78,58.38,98555.49,233.17,2.15,401.83,2.95,6.0,6.0,8.0
2023-06-08 12:34:50,24.79,58.30,98555.49,233.17,2.52,402.06,3.27,6.0,6.0,8.0
...,...,...,...,...,...,...,...,...,...,...
2023-06-14 12:17:08,29.50,61.47,98588.70,230.35,1.87,401.66,2.71,17.0,24.0,24.0
2023-06-14 12:17:14,29.51,61.93,98589.16,230.31,5.03,403.40,5.04,18.0,25.0,25.0
2023-06-14 12:17:23,29.52,62.23,98589.52,230.28,2.49,402.04,3.24,18.0,25.0,26.0
2023-06-14 12:17:33,29.54,63.68,98589.11,230.31,2.20,401.86,3.00,17.0,25.0,25.0
2023-06-14 12:17:43,29.58,63.66,98589.75,230.26,2.05,401.77,2.87,18.0,25.0,25.0

In [47]:
new_dat.describe()

,Temperature,Humidity,Pressure,Altitude,CO,CO2,NH4,PM1.0,PM2.5,PM10.0
count,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000,47587.000000
mean,27.416677,46.240428,98459.169385,241.385222,1.148438,401.148389,1.970636,12.769118,18.483956,19.142434
std,1.039963,5.926814,125.676361,10.711063,0.541757,0.301850,0.419378,7.129932,10.760117,11.207798
min,23.810000,27.320000,98065.860000,217.600000,0.200000,400.320000,0.660000,3.000000,5.000000,7.000000
25%,26.850000,44.200000,98375.410000,233.510000,0.900000,400.970000,1.710000,8.000000,12.000000,12.000000
50%,27.220000,47.380000,98465.170000,240.870000,1.070000,401.100000,1.900000,11.000000,16.000000,16.000000
75%,27.590000,49.790000,98551.610000,248.520000,1.310000,401.280000,2.170000,15.000000,21.000000,22.000000
max,31.520000,73.240000,98738.550000,274.950000,32.240000,413.110000,16.200000,59.000000,87.000000,92.000000

In [48]:
new_dat.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 47587 entries, 2023-06-05 10:12:43 to 2023-06-14 12:17:43
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  47587 non-null  float64
 1   Humidity     47587 non-null  float64
 2   Pressure     47587 non-null  float64
 3   Altitude     47587 non-null  float64
 4   CO           47587 non-null  float64
 5   CO2          47587 non-null  float64
 6   NH4          47587 non-null  float64
 7   PM1.0        47587 non-null  float64
 8   PM2.5        47587 non-null  float64
 9   PM10.0       47587 non-null  float64
dtypes: float64(10)
memory usage: 4.0 MB

In [37]:
new_dat.to_csv("comb/dat1.csv", header=None)

In [58]:
lat_dat = pd.read_csv("new6.csv", header=None)
lat_dat.columns = ["Datetime","Temperature", "Humidity" , "Pressure", "Altitude" ,"CO" ,"CO2" ,"NH4", "PM1.0" ,"PM2.5", "PM10.0"]
lat_dat['Datetime'] = pd.to_datetime(df["Datetime"], format='%Y-%m-%d %H:%M:%S')
lat_dat = lat_dat.set_index("Datetime")

KeyError: 'Datetime'

In [60]:
lat_dat.index

RangeIndex(start=0, stop=17314, step=1)